@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding-inline-start: 0;
}
.header {
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.header .header_container {
    width: 960px;
    position: relative;
    padding: 20px 0;
}
.header_row{
    display: flex;
    align-items: center;
}
.header_row.header_row_first {
    height: 60px;
    background-color: rgb(51, 51, 51);
}

.header_row.header_row_second {
    height: 120px;
    opacity: 0.561;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.24);
    background-color: rgb(51, 51, 51);
}
.header_logo{
    position: absolute;
    top: 30px;
    z-index: 1;
    margin-left: 10px;
}
.logo a {
    font-size: 60px;
    font-family: "Kristi";
    color: rgb(247, 247, 247);
    line-height: 1.016;
    text-align: center;
    text-decoration: none;
}

.header_order_details{
    float: right;
}
.header_order_details .header_order_details_menu .header_order_details_item {
    font-size: 14px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.571;
    position: relative;
    cursor: pointer;
}
.header_order_details_item:nth-child(1){
    margin-right: 85px;
}
.header_order_details_item:nth-child(2){
    margin-right: 50px;
    word-spacing: 40px;
}
.header_order_details_item:nth-child(3){
    margin-right: 40px;
}

.header_order_details_item_dropdown_link small{
    content: url("/src/img/arrow.png");
    transform: rotate(-90deg);
    transition: 0.3s;
    margin-left: 15px;
}
.header_order_details_item_semen img{
    height: 23px;
    width: 23px;
}
.header_order_details_item_semen small {
    line-height: 1.6;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(255, 66, 0);
    position: absolute;
    top: -13px;
    left: 15px;
    width: 18px;
    height: 18px;
}
.header_menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    margin-right: -20px;
    margin-bottom: 0;
}

.header_menu .header_menu_item a{
    margin-right: 30px;
    font-size: 18px;
    font-family: 'Lato';
    color: rgb(247, 247, 247);
    text-transform: uppercase;
    line-height: 3.387;
    text-align: center;
    padding: 0 25px 15px 25px;
    font-weight: 600;
    text-decoration: none;
}
.header_menu .header_menu_item:last-child{
    margin-right: 0;
}
.header_menu .header_menu_item .header_menu_item_link:hover{
    border-bottom: 4px solid rgb(255, 66, 0);
}
.details-drop-down-list-container{
    max-width: 620px;
    width: 1005px;
    margin: 20px auto;
    position: relative;
}
.details-drop-down-list{
    position: absolute;
    z-index: 10;
    top: calc(100% - 8px);
    display: none;
    max-width: 780px;
    width: 100%;
    background-color: rgb(244, 244, 244);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.22),0px 24px 24px 0px rgba(0, 0, 0, 0.3);
}

.details-drop-down-list svg{
    width: 35px;
    height: 35px;
}
.details-drop-down-list table{
    width: 100%;
    padding: 0 15px;
}
.details-drop-down-list table td{
    border-bottom: 1px solid #c3c3c3;
}
.details-drop-down-list table td:first-child, .details-drop-down-list table td:last-child{
    border-bottom: none;
}
.details-checkout{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: -15px;
    margin-top: 25px;
}
.details-checkout button{
    border-radius: 30px;
    background-color: rgb(255, 66, 0);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12), 0px 6px 6px 0px rgba(0, 0, 0, 0.24);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 19.355px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2.067;
    text-align: center;
    width: 140px;
    height: 42px;
    padding: 0;
    cursor: pointer;
}
.details-checkout span{
    font-size: 19.355px;
    font-family: "Lato";
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.86;
    text-align: center;
    margin-right: 45px;
}
.detailes-percent{
    color: #ff4200;
}
.delete-item{
    border-radius: 50%;
    padding: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 2px solid #000000;
}
.delete-item svg{
    width: 10px;
    height: 10px;
}
.drop-down-list-close button{
    border: none;
    position: absolute;
    right: -44px;
    cursor: pointer;
}
.drop-down-list-close button svg{
    width: 21px;
    height: 21px;
}
.header_order_details_item_dropdown_link small.active-detailes {
    transform: rotate(0deg);
}
.burger-menu{
    position: fixed;
    width: 55px;
    right: 0;
    display: none;
    top: 5px;
    background-color: rgb(51, 51, 51);
    border-radius: 50%;
    height: 55px;
    z-index: 100;
}
.burger-menu::before{
    transform: translateY(-10px);
}
.burger-menu::after{
    transform: translateY(10px);
}
.burger-menu::before,
.burger-menu::after{
    content: '';

}
.burger-menu::before,
.burger-menu::after,
.burger-menu span{
    width: 30px;
    transition: 0.3s;
    transform-origin: center;
    height: 4px;
    background-color: #ffffff;
    display: inline-block;
    position: absolute;
    left: calc(50% - 15px);
    top: calc(50% - 2px);
}
.burger-menu.active-burger{
    background-color: transparent;
}
.burger-menu.active-burger span{
    opacity: 0;
    height: 0px;
}
.burger-menu.active-burger:before{
    transform: translateY(0px) rotate(45deg);
}
.burger-menu.active-burger:after{
    transform: translateY(0px) rotate(-45deg);
}
.header_menu.mobile-header-visible{
    transform: translateX(0);
}